**/__pycache__/
**/secrets.yaml
**/secrets.yaml.disabled
/!not used custom components
/.HA_VERSION
/.cloud
/.google.token
/.shopping_list.json
/.sonoff.json
/.storage
/.vscode
/cache.json
/H8O2IA~5
/__AddOn___Config.txt
/alexa_media.Bruce.Hartley@ClickSpares.co.uk.pickle
/alexa_media.bruce.hartley@ClickSpares.co.uk.pickle
/appdaemon
/deps
/faces
/google_calendars.yaml
/home-assistant.log
/home-assistant_v2.db
/ic3_config
/image
/known_devices.yaml
/netdaemon
/node-red
/octopusagile.json
/pyozw.sqlite
/python_scripts
/snapshots
/tts
/www
/zigbee.db
/secrets.yaml
/zones.yaml
/platerecogniser/

